pydantic[email]
langchain-text-splitters>=0.3.0
python-multipart
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
pydantic>=2.0
passlib[bcrypt]
bcrypt==4.0.1
langchain
langchain-community
langchain-core
chromadb
hnswlib
tiktoken
openai
pypdf